<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
 <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/html/index.html">Tutorial Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">                       
            <li><a href="/html/app/bank/clients.html">Clients</a></li>
            <li><a href="/html/qs/status.html">QS Status</a></li>
            <li><a href="/html/sm/status.html">Service Manager</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
 </div>  
