body {
/*  min-height: 800px; */
  padding-top: 70px;
  margin-bottom: 60px;  
}

html {
  position: relative;
  min-height: 100%;
  
}

code {
	colour: black;
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
}

/* Enhance panels */

.panel {
box-shadow: 5px 5px 5px #888888;
}

.panel-yyy-title{
	height: 32px;
	background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
}
.panel-yyy-title h3{
	font-size: 13px;
	text-transform: uppercase;
}


.yyy-pagination {
	float: center;
	margin: 0px 0px 0px 0px;
}
/* Modules */

.module {
border: 1px solid #9BA0AF;
width: 100%;
margin: 10px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
background: #ffffff;
}

.module header h3 {
display: block;
width: 90%;
float: left;
color: #1F1F20;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 20px;
}

.module header {
height: 38px;
width: 100%;
background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.module footer {
height: 32px;
width: 100%;
border-top: 1px solid #9CA1B0;
background: #F1F1F4 url(../images/module_footer_bg.png) repeat-x;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}

.module_content {
margin: 10px 20px;
color: #666;}

/* Module Widths */

.width_full {
width: 95%;
}

.width_half {
width: 46%;
margin-right: 0;
float: left;
}

.width_quarter {
width: 26%;
margin-right: 0;
float: left;
}

.width_3_quarter {
width: 66%;
margin-right: 0;
float: left;
}

textarea.rawContent
{
resize:vertical;
font-family: Courier;
font-size:8px;
width:99%;
height:100pt;
}

textarea.rawContentExpanded
{
height:50em;
}

