.shop-item-table td{
  padding: 2px;
  font-size: 110%;
}

body {
  padding-top: 70px;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

.alert {
  padding: 5px;  
}

.panel {
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
border-radius: 0px;
}

.trx-span {
    display: inline-block;
    margin-right: 5px;
    border-right: 1px solid silver;
    padding-right: 5px;
    width: 15%;
    text-align: center;
}
.trx-span:last-of-type {
    border-right: none;
}
.trx-p {
    text-align: center;
}
