<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
 <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"></span> Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">           
            <li><a href="../login/login.html"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
   </div>